

.LogRegField {
	display: flex;
	flex-direction: column;
	justify-content: center;
	/*border: 3px dotted #F2F3F4;*/
	height:600px;
	margin-top:15px;
}

.Tab {
	background-color:#D0D3D4;
	cursor:pointer;
	width:5%; 
	border: 3px solid #333;
	color: #333;
}


.LoginTab {
	display: inline-block;
	height: 5%;
	width:25%;
	font-size: 25px;
	float: right;
}
.RegisterTab {
	display: inline-block;
	height: 5%;
	width:25%;
	font-size: 25px;
	float: right;
}



.TabContain {
	width: calc(55% + 6px);
	margin-left: auto;
	margin-right: auto;
}


.Tab:hover {
	background-color: #5DADE2;
}


.LogRegContain {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	border:3px solid #333;
	height: 300px;
	width: 55%;
	margin-left: auto;
	margin-right: auto;
	background-color:#7B7D7D;
}

.InpPass {
	border-radius:10px;
	border:3px solid #333;
	font-size: 30px;
	padding-left: 10px;
	height: 15%;
	width: 60%;
}

.InpUser {
	border-radius: 10px;
	border:3px solid #333;
	font-size: 30px;
	padding-left: 10px;
	height: 15%;
	width: 60%;
}

.LogBtn {
	color: #333;
	border:3px solid #333;
	border-radius: 10px;
	font-size: 30px;
	height:15%;
}



@media (max-width:415px){
	.LogRegContain {
		height: 300px;
		width:75%;
	}
	.InpPass {
		width: 70%;
		font-size: 20px;
	}
	.InpUser {
		width: 70%;
		font-size: 20px;
	}
	.TabContain {
		width:calc(75% + 6px);
	}
	
	.LoginTab {
		width: 25%;
		font-size: 15px;
	}
	.RegisterTab {
		width:25%;
		font-size:15px; 
	}
	.LogBtn {
		font-size: 25px;
	}
	.LogRegField {
		margin-top:-80px;
	}

}
