#newHead {
	font-size: 40px;
}

#newText {
	font-size: 25px;
	background-color: white;
	width: 50%;
	min-width: 250px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	padding: 40px;
}

.newItem {
	display: flex;
	justify-content: space-between;
	padding: 10px;
}

.newInput {
	border-radius:10px;
	border: 2.5px solid #333;
}

#newSubmit {
	margin-top: 15px;
	float: right;
	border-style: solid;
	border-color: black;
	border-width: 1.5px;
}