#newHead {
	font-size: 40px;
}

#newText {
	font-size: 25px;
	background-color: white;
	width: 70%;
	min-width: 250px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	padding: 40px;
}

.newItem {

	padding: 10px;

}

.newInput {
	width: 95%;
	height: 20px;
	border-radius:10px;
	border: 2.5px solid #333;
}





#newSubmit {
	margin: 5px;
	border: 1.5px solid #333;
    height: 30px;
    font-size: 15px;
    border-radius: 10px;
}

