
body {
  font-family:'Jua', sans-serif;
  background-color: #F2F3F4;
}

.App {
  text-align: center;
}

.Header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 230px;
  background-color:#7B7D7D;
  box-shadow: -5px 5px 10px #333;
  /*position: relative;*/
}

.Logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 175px;
  width:175px;
  border-radius: 50%;
  background-color: #fa4542;
  font-size:90px;
  color: rgb(255,255,255);
  border: 3px solid #333;
  /*position: relative;*/
  /*position: absolute;*/
  /*left: 4%;*/
  /*top:9%;*/

}

.LogoTitle {

  /*position: absolute;*/

  /*top:20%;*/

  /*right:17%;*/
}

.Heading {
  font-size: 400%;
  color: #fff;
  margin-right: 100px;
  /*position: absolute;*/
  /*left: 18%;*/
  /*top: 30%;*/


}