#homeworkContainer{
	background-color: #d0d0d0;
	border-style: solid;
	border-color: black;
	border-width: 3px;
	width: 65%;
	margin-left: auto;
	margin-right: auto;
	padding: 40px;

}

#addButton{
    border: 1.5px solid #333;
    height: 30px;
    margin-top: 5px;
    font-size: 15px;
    float: right;
    border-radius: 10px;
}

.MainTab {
	width: calc(65% + 86px);
	margin-left: auto;
	margin-right: auto;
}

.bodyContainer {
	height: 70%;
}

