#homeworkShow{
	border-style: solid;
	border-color: black;
	border-width: 3px;
	margin-left: auto;
	margin-right: auto;
}

.assignmentList {
	display: flex;
	justify-content: space-between;
	padding: 5px;
}

.assignmentList:nth-child(odd) {
    background: white;
}

.assignmentList:nth-child(even) {
    background: #d0d0d0;
}

.editButton {
	border-style: solid;
	border-color: black;
	border-width: 1.5px;
}
